@media (min-width: 992px) {
    html{
        margin: 0;
        padding: 0;
    }

    .search-icon {
        display: none;
        visibility: hidden;
    }

    .search-text {
        display: block;
        visibility: visible;
        padding-bottom: 20px;
    }

    body{
        padding: 0;
        margin: 0;
        font-family: 'Raleway', sans-serif;
        max-width: 100vw;
        box-sizing: border-box;
        width: 100%;
    
    }
    
    .container{
        padding-left: 5px;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0 40px 0 90px;
    }
    nav{    
        display: flex;
        justify-content: space-between;
        padding-right: 20px ;
        padding-top: 20px;
        
    }
    
    nav img{
        height: 60px;
    }
    
    nav .links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    
    nav .links a{
        display: block;
        text-decoration: none;
        color: black;
        height: 100%;
        margin-right: 15px;
        padding-top: 20px;
        position: relative;
    }
    
    nav .links a:hover {
        color:var(--bg-blue);
    }
    nav .links a::before{
      content: ''; 
      display: block;
      height: 2px;
      width: 0;
      background-color: var(--bg-blue);
      position: absolute;
      top: -5px;
      transition: ease-in-out 0.2s;
    }
    nav .links a:hover::before{
        content: ''; 
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--bg-blue);
        position: absolute;
        top: -5px;
    }    
    
    header {
        font-size: 16px;
    }
    
    header .headerTitle h2{
        font-size: 26px;
        margin: 45px 0 20px;
    }
    
    header section .headerForm{
        border-radius: 15px;
        overflow: hidden;
        margin: 0;
        width: 24%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header section .headerForm span{
        background-color: #F5F5F5;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: none;
    }
    header section .headerForm input{
        height: 100%;
        width: 60%;
        font-size: 18px;
        border: none;
        font-weight: bold;
        padding: 0 15px;
        
    }
    header section .headerForm input::placeholder{
        color: black;
    }

    header section .headerForm input:focus{
        outline: none;
    }
    header section .headerForm button{
        background-color: var(--bg-blue);
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        height: 100%;
        border: none;
        width: 35%;
        cursor: pointer;
    }
    
    header .filtres {
        width: 50%;
        margin: 15px 0;
    }
    header .filtres .filtresList{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .filtres .filtresList a{
        text-decoration: none;
        color:black;
    }
    
    header .filtres .filtresList .filtresItem{
        border-radius: 20px;
        background-color: white;
        border: solid gray 1px;
        display: flex;
        align-items: center;
        padding: 0;
        height: 40px;
        padding-right: 15px;
        overflow: visible;
        position: relative;
    }
    
    header .filtres .filtresList .filtresItem::before{
        content: '';
        display: block;
        height: 100%;
        width: 0;
        background-color: var(--bg-light-blue);
        position:absolute;
        border-radius: 20px;
        z-index: 2;
        transition: ease-in-out 0.4s;
        }
    
    header .filtres .filtresList .filtresItem:hover::before{
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background-color: var(--bg-light-blue);
        position:absolute;
        border-radius: 20px;
        z-index: 2;
    }
    
    header .filtres .filtresList .filtresItem:hover > i{
        animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        
    }
    
    header .filtres .filtresList .filtresItem i{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #8cd3ff;
        height: 40px;
        width: 40px;
        margin: 0;
        text-align: center;
        color: var(--bg-blue);
        z-index: 3;
    }
    header .filtres .filtresList .filtresItem span{
        padding-left: 10px;
        font-weight: bold;
        z-index: 2;
    }
    
    header .info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    header .info i{
        border-radius: 50%;
        color: var(--bg-blue);
        font-size: 12px;
        border: solid 1px black;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .info p{
        margin-left: 15px;
    }
    
    main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }
    main .hebergements{
        width: 72%;
        height: 900px;
        background-color:var(--bg-ligth-gray);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        margin: 30px 0;
    }

   
    
    main .hebergements .hebergementsList{
        display: flex;
        flex-wrap: wrap;   
        width: 90%;
        justify-content: space-around;
    }
    main .hebergements h3{
        margin: 35px 0 50px;
        font-size: 36px;
        text-align: left;
        width: 90%;
    }
    main .hebergements .hebergementsList .hebergementsItem{
        width: 27%;
        height: 250px;
        margin: 12px 15px;
        padding: 5px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;   
    }
    main .hebergements .hebergementsList .hebergementsItem .hebergementsThumbnail{
        background-image: url('../images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0; 
        margin-bottom: 3px;
    }
    
    main .hebergements .hebergementsList .hebergementsItem figcaption{
        margin: 7px 10px;
        line-height: 45%;
    }
    main .hebergements .hebergementsList .hebergementsItem figcaption>span{
        color: var(--bg-blue);
    }
    
    main .hebergements a{
        margin: 35px 0 60px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        width: 90%;
        text-decoration: none;
        color: black;
    }
    main .populaires{
        width: 24%;
        height: 900px;
        background-color:var(--bg-ligth-gray);
        border-radius: 15px;
        margin: 30px 25px ;
    
    }
    
    main .populaires .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin:35px auto 50px;
        width: 80%;
    }

    main .populaires .title h3{
        font-size: 30px;
    }
    
    main .populaires .populairesList{
        width: 80%;
        margin: 0 auto;
    }
    main .populaires .populairesList .populairesItem{
        display: flex;
        border-radius: 15px;
        padding: 5px;
        background-color: white;
        overflow: hidden;
        margin: 12px 0;
        height: 160px;
        
    }
    main .populaires .populairesList .populairesItem .populairesThumbnail{
        background-image: url('../images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 40%;
        border-radius: 15px 0 0 15px;
        margin-right: 5px;
        
    }
    main .populaires .populairesList .populairesItem figcaption{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    main .populaires .populairesList .populairesItem figcaption h4{
     margin: 0;
    }
    main .populaires .populairesList .populairesItem figcaption p{
     margin: 0;
    }
    main .populaires .populairesList .populairesItem figcaption>span{
     margin-top: 50px;
     color: var(--bg-blue);
    }
    main .activities{
        width:100%;
        display:flex;
        flex-direction: column;
    }
    main .activities .activitiesList{
        display: flex;
        justify-content: space-around;
    
    }
    main .activities .activitiesList .activitiesItem{
        width: 22%;
        height: 600px;
    }
    
    main .activities .activitiesList .activitiesItem:nth-child(odd){
        border-radius: 15px;
        overflow: hidden;
        height: 100%;
        box-shadow: 3px 7px 10px 0px var(--bg-ligth-gray);
    }
    
    main .activities .activitiesList .activitiesItem>.activitiesThumbnail{
        background-image: url('../images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 540px;
        width: 100%;
        
    }
    
    footer{
        margin-top: 20px;
        background-color: var(--bg-ligth-gray);
        display: flex;
        padding: 30px;
    }
    
    footer section{
     display: flex;
     flex-direction: column;
     margin-right: 20px;
     line-height: 200%;
     width: 30%;
    }
    footer section a{
        text-decoration: none;
        color: black;
        font-weight: lighter;
    }    
}
