@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('./desktop.css');
@import url('./mobile.css');

:root{
--bg-ligth-gray:#F2F2F2;
--bg-light-blue:#deebff;
--bg-blue: #0065fc;
}
/*Animation*/
 @-webkit-keyframes flip-vertical-fwd {
    0% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateZ(160px) rotateY(180deg);
              transform: translateZ(160px) rotateY(180deg);
    }
  }
  @keyframes flip-vertical-fwd {
    0% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateZ(160px) rotateY(180deg);
              transform: translateZ(160px) rotateY(180deg);
    }
  }
  



/********************** TODO  Responsive Mobile */